<!--Home Page-->

<div class="container containerLanding">
    <div class="jumbotron text-center vertical-center">
        <h1 class="display-4">Get Ready to Scrape!</h1>
        <p class="lead">Get all the Buzz in one click and add your own comments</p>
        <p class="lead">
            <a class="btn btn-info btn-lg" id="scrapeBtn" href="/scrape" role="button">Scrape the Buzz</a>
        </p>
    </div>
</div>