<!--Home Page-->

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Get Ready to Scrape!</h1>
        <p class="lead">Get all the Buzz in one click and add your own comments</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" id= "scrapeBtn" href="/scrape" role="button">Scrape the Buzz</a>
        </p>
    </div>
</div>