<div class="container">
<div class="row text-align">
    <div class="col-md-12">
        <ul class="articles">
            {{#each article}}
                <li>
                    <div class="card">
                        <div class="row text-align">
                            <div class="col-md-12">
                                <a href={{this.url}} target="_blank"></a>
                                <div class="card-body">
                                    <h5 class="card-title">{{this.headline}}</h5>
                                    <p class="card-text">{{this.summary}}</p>
                                    <button type="button" class="btn btn-success" id="saveArticleBtn" data-id={{this._id}}>Save Article</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
</div>